.container{
	background-color: #2BC3F0;
	text-align: center;
	display: block;

}

img{
	width: 100%;
	height: 150px;
}
	
.jumbotron {
	background-size: auto 100%;
	border-bottom:1px solid #ff6a00
  }

  form{
  	display: inline-block;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: left;
  }
